#productDetail{
    flex-direction: column;
    height:min-content;
}

.details__wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.details__img{
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: .5rem;
}

.details__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__details{
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.details__title{
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.details__price{
    color: rgb(202, 182, 0);
    font-weight: bold;
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

.details__description{
    max-height: 400px;
    overflow: scroll;
    color: white;
}

@media(max-width:450px){
    .details__wrapper{
        flex-direction: column;
    }
    .product__details{
        max-width: 90%;
        margin: 0 auto;
        padding: 1rem;
    }
}

.details__options{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .5rem;
}

#details-options-title{
    color: rgb(202, 182, 0);
}

.details-options-subtitle{
    color: white;
    font-weight: bold;
}

.buttons__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.details-options__button {
    min-width: 60px;
    padding: 0.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    border: 3px dotted #ccc;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    
    cursor: pointer;
    transition: all 150ms ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.details-options__button:hover {
    background-color: rgb(168, 130, 58);
    color: #fff;
    border-color: #000000;
}

.details-options__button.active {
    background-color: orange;
    color: #fff;
    border-color: #000000;
}

#btn__add-cart-wrapper{
    padding: .5rem;
    display: flex;
    align-self: self-start;
    gap: .5rem;
}

#btn-add-cart{
    margin: 0 0 0 auto;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#btn-add-cart:hover{
    transform: translateY(-5px);
}
#btn-add-cart:active{
    scale: 0.95;
}

#plusIcon{
    padding: .5rem;
    background-color: rgb(233, 124, 0);
    border-radius: .5rem;
}

#minusIcon{
    padding: .5rem;
    background-color: rgb(233, 27, 0);
    border-radius: .5rem;
}

#resume{
    
    max-height: 25vh;
}

#resume h4{
    color: white;
    font-size: 1.2rem;
}

.summary_p{
    color: white;
}

/* SIDEBAR */


#sidebar {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: red;
    z-index: 9;
    transition: transform 0.3s ease-in-out;
    border-radius: .5rem 0 0 .5rem;
}

.cart-title{
    color: white;
    margin-top: 1.5rem;
    text-align: center;
}

#sidebar.active {
    transform: translateX(-250px);
}
#toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#content {
    padding: 20px;
    transition: margin-right 0.3s ease-in-out;
}
